<div id="<%= dom_id license %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Key:</strong>
    <%= license.key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= license.status %>
  </p>
</div>
