<h3>A sua licença <%= @brand %> chegou ao fim! </h3>
<p>Esperamos que possa ter aproveitado ao máximo o nosso serviço, mas caso ainda queira continuar usufruindo de vários
  beneficios, considere re-assinar!</p>
<br>
<small>Algo errado? Entre em contato com o suporte!</small>",