<h3>Parabéns por adquirir nosso plugin <%= @brand %></h3>
<p>A partir de agora você pode ter acesso a melhor ferramenta de envios de mensagens pré cadastradas do mercado !</p>
SUA CHAVE PREMIUM É :
<h3><strong><%= @license.key %></strong></h3>
<p>Copie sua chave acima e cole na ativação do plugin! </p>
<br>
<h4><a href="<%= @install_video %>">COMO INSTALAR</a></h4>
<h4><a href="<%= @tutorial_video %>">COMO USAR</a></h4>