<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 >Whitelabels</h1>
    <%= link_to 'New Whitelabel', new_client_path, class: "button" %>
  </div>

  <div id="clients" class="min-w-full">
    <%= render @clients %>
  </div>
</div>
