@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        --tw-ring-shadow: 0 0 #000 !important;
    }
    header, footer {
        background-color: #F0E7E9;
    }
    a {
        @apply text-red-800;
    }
    a:hover {
        @apply text-red-500 transition;
    }

    h1 {
        @apply text-4xl text-black mb-5 relative w-fit;
    }

    h1:after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 3px;
        z-index: -1;
        width: 70%;
        border-radius: 10px;
        background-color: red;
        transition: .30s;
        border: #730E15;
    }

    h1:hover:after {
        width: 100%;
        transition: .30s;
    }

    .button {
        @apply text-red-800 bg-transparent border border-solid border-red-800 hover:bg-red-800 hover:text-white font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150  px-3
    }
}