<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @parameter %>

    <%= link_to 'Editar parâmetro', edit_parameter_path(@parameter), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Deletar parâmetro', parameter_path(@parameter), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Voltar para parâmetros', parameters_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
